button {
        background-color: black;
        font-size: 16px;
        color: white;
        padding: 12px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 5px;
      }
      .toggle-button {
        background-color: rgb(230, 230, 230);
        color: black;
        border: 1px solid grey;
      }