* {
        font-family: Arial;
        font-size: 22px;
        font-weight: bold;
        color: white;
        background-color: black;
      }

      button {
        background-color: rgb(51, 51, 51);
        height: 70px;
        width: 70px;
        border: none;
        border-radius: 35px;
      }
      .yellow-btn {
        background-color: rgb(254, 160, 10);
        color: white;
      }